<script type="text/javascript">
        function initialize() {
        var myLatlng;
          // The current zoom and location of where the map is centerd on
          navigator.geolocation.getCurrentPosition(function(position) {
            myLatlng =(new google.maps.LatLng(<%= @listing.latitude %>, <%= @listing.longitude %>));
            console.log(myLatlng);
      
          var mapOptions = {
            zoom: 16,
            center: myLatlng
          }

          // Create a map with a canvas
          var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


          // The function to create a longitude and latitude in Google Maps
          function makeLatLng(latitude, longitude) {
            return new google.maps.LatLng(latitude, longitude)
          }

          //The function to create a marker in Google Maps
          function makeMarker(latitude, longitude) {
            return new google.maps.Marker({
              position: makeLatLng(latitude, longitude),
              map: map,
              icon:'http://i2.photobucket.com/albums/y23/maggiewang430/5734948b-ced6-4447-8e48-d4dc820d1f4a_zpsf5729f8e.png'
            });
          }

          // Add saved longitudes and latitudes to save on the map

          var <%= "marker" + @listing.id %> = makeMarker(<%= @listing.latitude %>, <%= @listing.longitude %>);
          
          var <%= "infoWindow" + @listing.id %> = new google.maps.InfoWindow({
            content: '<span><strong>Address:</strong> <%= @listing.address %></span><br> <span><%= @listing.city %>, <%= @listing.state %> <%= @listing.zip %></span><br> <span><strong>Type:</strong> <%= @listing.type %></span><br> <span><strong>Bedroom:</strong> <%= @listing.num_bed %></span><br> <span><strong>Bathroom:</strong> <%= @listing.num_bath %></span><br> <span><strong>Price:</strong> <%= @listing.price %></span><br> <span><strong>Description:</strong> <%= @listing.description %></span> <br> <span><strong>Photos:</strong> <%= image_tag @listing.photo.url, height: '150', width: '130' %></span>'
          });

          google.maps.event.addListener(<%= "marker" + @listing.id %>, 'click', function() {
            <%= "infoWindow" + @listing.id %>.open(map,<%= "marker" + @listing.id %>);
            setTimeout(function(){ <%= "infoWindow" + @listing.id %>.close(map,<%= "marker" + @listing.id %>); }, 2000);
          });

        });

        }

        // Loads Google Map on window load
        google.maps.event.addDomListener(window, 'load', initialize);
</script>
