 <!-- form for editing a listing -->
 <form>
  <%= form_for @listing do |f| %>

  Type: <%= f.text_field :type %><br>
  City: <%= f.text_field :city %><br>
  Bedrooms: <%= f.number_field :num_bed %><br>
  Bathrooms: <%= f.number_field :num_bath %><br>
  Rent: $ <%= f.number_field :price %><br>
  Parking <%= f.check_box :parking %>      <br>
  AC/Heater <%= f.check_box :acheater %>    <br>
  Pets: <%= f.check_box :pets %><br>
  Furnished <%= f.check_box :furnished %>    <br>
  Private Bath <%= f.check_box :privatebath %> <br>
  Wifi <%= f.check_box :wifi %>
  Description: <%= f.text_area :description %><br>
  Listing Thumbnail <%= f.file_field :photo, :multiple => true %></br><br>
  <br>
  <%= f.submit 'Update' %>
  
  <% end %>
</form>



