<% if current_user %>
<!-- index map view for when user is logged in -->
<div class="col-md-8 maps">
  <div id="map-container">
    <div id="map-canvas">
      <%= render 'map' %>
    </div>
  </div>
</div>

<!-- listing info view for logged in users -->
 <div class="col-md-4 listings">
    <div class='ovaflowing'>
      <% @listings.each do |f| %>
        <div class="listing-each">
          <p><%= f.type %> | <%= f.address %>, <%= f.city.capitalize %>, <%= f.state %> <%= f.zip %> | Bedrooms: <%= f.num_bed %> | Bathrooms: <%= f.num_bath %> | $<strong><%= f.price %></strong></p>
          <p><%= link_to 'More +', listing_path(f), :class => "btn btn-info btn-sm" %></p> 
          <p> _____________________________________________________________________</p>
<!--           <p><%#=  image_tag f.photo.url(:small), height: '90', width: '80' %></p> --> 
        </div>
     <% end %>
    </div>

 </div>

<% else %>
<!-- Landing Page with three slides-->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item slides active">
      <div class="slide-1">
        <div class="hero">
          <hgroup>
            <h1>Find your next home</h1>        
            <%= form_tag listings_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], :placeholder => "ENTER CITY", :style =>"color: black;" %><br>
            <%= submit_tag "Take Me There", :class => "btn btn-hero btn-lg" %>
            <% end %>
          </hgroup>
        </div>
      </div>
    </div>

    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
          <h1>Join the Community</h1>        
        </hgroup>  
        <%= button_to "Sign Up Free", new_user_path,
        :class => "btn btn-hero btn-lg", :method => :get %>
      </div>
    </div>

    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
          <h1>Post your Space</h1>        
        </hgroup>
        <%= button_to "Login", login_path,
        :class => "btn btn-hero btn-lg", :method => :get %>
      </div>
    </div>
  </div>
</div>

<div class="info">
  <div class="col-md-4">
    <h2>About</h2>
  </div>
  <div class="col-md-4">
    <h2>Help</h2>
  </div>
  <div class="col-md-4">
    <h2>Why Nested</h2>
  </div>
</div>

    <!-- listing info view for not logged in users -->
      
       <!--  <table>
          <tbody>
            <table class="table table-hover">
              <%# @listings.each do |f| %>
              <tr>
                  <td><%#= f.type %></td>
                  <td><%#= f.address %></td>
                  <td><%#= f.city.capitalize %> 
                  <td><%#= f.state %></td>
                  <td><%#= f.zip %></td>
                  <td><%#= f.num_bed %></td>
                  <td><%#= f.num_bath %></td>
                  <td>$<#%= f.price %></td>
                  <td><%#= f.description %></td>
                  <td><%#= image_tag f.photo.url(:small), height: '150', width: '130' %></td>
                  <%#if current_user %>
                  <td><%#= link_to 'See More', listing_path(f), :class => "btn btn-info" %></td>
                  <%# else %>
                  <td><%#= link_to "Login to see more", login_path, :class => "btn btn-info" %></td>
                  <%# end %>
                </tr>
                <%# end %>
              </table>
            </tbody>
          </table>
          <%end%> -->
  
  </div>
</div>






