<!-- view page for individual listings -->

<div class="form-group">
	Type: <%= @listing.type %> <br>
	Address: <%= @listing.address %><br>
	City: <%= @listing.city %><br>
	State: <%= @listing.state %><br>
	Zipcode : <%= @listing.zip %><br>
	Bedrooms: <%= @listing.num_bed %><br>
	Bathrooms: <%= @listing.num_bath %><br>
	Price: $ <%= @listing.price %><br>
	Description: <%= @listing.description %><br>
	Photos: <%= image_tag @listing.photo.url, height: '150', width: '130' %><br>
</div>

<% @listing.photos.each do |p| %>
<%= image_tag p.photo.url, height: '250', width: '230' %>
<%#= link_to "Delete this photo", :class => "btn btn-default" %>
<% end %>

<!-- editing options for logged in user -->

<div class="form-group">
	<% if current_user %>
	<%= link_to "Add Photos", new_listing_photo_path(@listing), :class => "btn btn-info" %>
	<%= link_to "Edit Listing", edit_listing_path, :class => "btn btn-warning" %>
	<%= link_to "Remove listing", :listing, method: :delete, data: { confirm: "Are you sure you want to delete this listing?"},  :class => "btn btn-danger" %>
	<% else %>
	<%= link_to "Back to the list", listings_path, :class => "btn btn-info" %>
	<% end %>
</div>

</div>
