<!-- User profile view page -->

<div class="user-view">
	<p class="profile"> User Profile </p>
	<%= form_for @user do |f| %>
	
	First Name: <%= @user.firstname %><br>
	Last Name: <%= @user.lastname %><br>
	Phone: <%= @user.phonenumber %><br>
	Email: <%= @user.email %><br>
	Occupation: <%= @user.occupation %><br><br>
    A Little About You <br> <%= @user.bio %>  <br><br>
    Personality (MYERS BRIGG):   <%=@user.personality %> <br><br>
    Age:   <%= @user.age %> <br><br>
    <%= link_to 'back to listings', listings_path, :class =>"btn btn-info" %> 
	<%#= f.submit "Join", :class => "btn btn-info" %>
	<% end %>
</div>

<div class="message">
	<%= form_for Message.new() do |f| %>
	<div id = 'hidden'>
		<%= f.text_field :sender, :value => current_user.firstname %>
		<%= f.text_field :user_id, :value =>"#{@user.id}" %>
	</div>
	<%= f.text_field :subject, :value => ''%>
	<%= f.text_field :body, :value => '' %>
	<%= f.submit %>
	<% end %>
</div>
