<!-- User profile view page -->

<div class="form-group">
	<h2> User Profile </h2>
	<%= form_for @user do |f| %>
	
	First Name<br> <%= @user.firstname %><br>
	Last Name<br> <%= @user.lastname %><br>
	Phone<br> <%= @user.phonenumber %><br>
	Email <br><%= @user.email %><br>
	Occupation<br> <%= @user.occupation %><br><br>
    A Little About You <br> <%= @user.bio %>  <br><br>
    Personality (MYERS BRIGG) <br> <%=@user.personality %> <br><br>
    Age <br> <%= @user.age %> <br><br>

	<%#= f.submit "Join", :class => "btn btn-info" %>
	<% end %>
<%= link_to 'back to listings', listings_path %> 
</div>