<!DOCTYPE html>
<html>
<head>
  <title>Nested</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAtMTyEHjwug0bqEL-IEuEKgW3paGNZ0Jk" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- navigation bar -->

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/listings">
          <img src="http://i2.photobucket.com/albums/y23/maggiewang430/Logo_zps875a4da5.png" id="logo">
          </a>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
            <li><p class="greeting">Welcome back, <%= current_user.username.downcase %></p></li>
            <a type="button" class="btn btn-warning navbar-btn navbar-right" href="/login">Log Out</a>
            <!-- <li><%#= link_to "Log Out", logout_path %></li> -->
            <% else %>
            <li><%= link_to "Log In", '/login' %></li>
            <a type="button" class="btn btn-warning navbar-btn navbar-right" href="/users/new">Join nested</a>
            <!-- <li><%#= link_to "Join Nested",   login_path %></li> -->
            <% end %>
          </ul>
      </div>
    </nav>
    <!-- <header class="navbar navbar-inverse" role="navigation">
      <div class="navbar">
        <%= link_to "DoorKnob", '/listings', id: "logo" %>
      </div>
      <nav>
        <div class="links">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
            <li> Hello <%= current_user.username %></li>
            <li><%= link_to "Log Out", logout_path %></li>
            <% else %>
            <li><%= link_to "Sign Up", '/users/new' %></li>
            <li><%= link_to "Join Nested",   login_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div> 
  </header> -->


  <!-- user sees add listing link if logged in -->

  <div class="container">
   <% if current_user %>
   <% flash.each do |key, value| %>
   <div class="alert alert-<%= key %>" role="alert">
    <% key %><%= value %>
  </div>
  <% end %>
  <div class ="pager"><%= link_to 'See All Listings', listings_path, :class => "btn btn-info" %>   <%= link_to 'Add A New Listing', new_listing_path, :class => "btn btn-info" %></div>
  <% else %>
  <%#= link_to 'login', login_path %>
  <% end %>

  <%= yield %>
  

</body>

</html>
