<!DOCTYPE html>
<html>
<head>
  <title>Nested</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAtMTyEHjwug0bqEL-IEuEKgW3paGNZ0Jk" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- navigation bar -->

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
          <img src="http://i2.photobucket.com/albums/y23/maggiewang430/Logo_zps875a4da5.png" id="logo">
          </a>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li><p class="greeting">Welcome back, <%= current_user.firstname %> <%= link_to "Edit Profile", edit_user_path(current_user.id) %></p></li>
          <a type="button" class="btn btn-warning navbar-btn navbar-right" href="/logout">Log Out</a>
        </ul>
        <ul class="nav navbar-nav navbar-left">
          <a type="button" class="btn btn-success navbar-btn navbar-left" href="#" data-toggle="modal" data-target="#basicModal">Post Your Space</a>
           <a type="button" class="btn btn-info navbar-btn navbar-right" href="/listings">See All Listings</a>
           <a type="button" class="btn btn-warning navbar-btn navbar-left" href="/messages">Your Messages</a>

          <%= render 'listings/listing_modal' %>
          <% else %>
          <li><p class="greeting"><%= link_to "Log In", '/login' %></p></li>
          
          <a type="button" class="btn btn-warning navbar-btn navbar-right" href="#" data-toggle="modal" data-target="#basicModal">Join nested</a>
          <%= render 'users/user_modal' %>
          <% end %>
        </ul>
      </div>
    </nav>

  



    


  <!-- user sees add listing link if logged in -->

   

  <%= yield %>

 
  

</body>

</html>
